/* Стили для header по умолчанию (без прокрутки) */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    border-bottom: 1px solid rgb(55, 48, 73);
    background: linear-gradient(-135deg, rgba(0, 20, 65, 0.685) 25%, rgba(45, 3, 99, 0.8) 100%);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    transition: background-color 0.3s; /* Добавляем анимацию смены цвета фона */
}

/* Стили для header при прокрутке вниз */
body.scrolled .header {
    background: rgba(16,24,56,.8)!important;
}

.header-item {
    padding: 1em;
    text-align: center;
    font-size: 25px;
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Изменяем курсор на "hand" при наведении */
    position: relative; /* Добавляем позицию "relative" для области подчеркивания */
}

.header-item::before {
    content: ""; /* Создаем псевдоэлемент для области подчеркивания */
    position: absolute;
    bottom: 0;
    left: 50%; /* Располагаем псевдоэлемент в середине элемента */
    transform: translateX(-50%); /* Сдвигаем его влево на половину ширины элемента */
    width: 0;
    height: 2px; /* Толщина подчеркивания */
    background-color: white; /* Цвет подчеркивания */
    transition: width 0.3s; /* Добавляем анимацию увеличения ширины */
    opacity: 0; /* Начальная невидимость псевдоэлемента */
}

.header-item:hover::before {
    width: 100%; /* Увеличиваем ширину псевдоэлемента при наведении */
    opacity: 1; /* Показываем псевдоэлемент при наведении */
}

.headerLogo {
    padding: 1em;
    margin-left: 15%;
    align-items: center;
    justify-content: center; 
    cursor: pointer; /* Изменяем курсор на "hand" при наведении */
}

.headerLogo::before {
    content: ""; /* Создаем псевдоэлемент для области подчеркивания */
    position: absolute;
    bottom: 0;
    left: 50%; /* Располагаем псевдоэлемент в середине элемента */
    transform: translateX(-50%); /* Сдвигаем его влево на половину ширины элемента */
    width: 0;
    height: 2px; /* Толщина подчеркивания */
    background-color: white; /* Цвет подчеркивания */
    transition: width 0.3s; /* Добавляем анимацию увеличения ширины */
    opacity: 0; /* Начальная невидимость псевдоэлемента */
}

.headerLogo:hover::before {
    width: 100%; /* Увеличиваем ширину псевдоэлемента при наведении */
    opacity: 1; /* Показываем псевдоэлемент при наведении */
}


/* Стили для контента, учитывая фиксированную шапку */
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
    
    
}

/* Стили для контента, его элементов на стартовой странице */
@keyframes glow {
    0% {
      text-shadow: 0 0 20px white; /* Светлый эффект */
    }
    50% {
      text-shadow: none; /* Отключаем свет */
    }
    100% {
      text-shadow: 0 0 20px white; /* Светлый эффект */
    }
  }
  
  .box1 {
    margin-top: 30%;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    text-align: left;
    /* border: 1px solid #000; */
    z-index: 2;
    font-size: 20px;
    animation: glow 10s infinite;
    color: white;
  }

  .box3 {
    padding-left: 1em;
    text-align: left;
    /* border: 1px solid #000; */
    z-index: 2;
    font-size: 17px;
    color: white;
  }

  

.box2 {
    margin-top: 30%;
    padding: 1em;
    display: inline-block;
    border-radius: 200%;
    overflow: hidden;
    z-index: 2;
}

.box2 img {
    width:100%;
    height:100%;
    object-fit: cover;
}




.background {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.background::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    background: linear-gradient(229deg, rgb(0, 6, 27) 35%, rgb(0, 0, 34) 45%,  rgba(28, 1, 92, 0.88) 100%) !important;
    background-size: 400% 400%;
    /* animation: moveBackground 20s linear infinite alternate;
    animation-timing-function: ease-in-out; */
}

/* @keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
} */

  
/* Стили для стрелочки */
.arrow-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s; /* Добавляем анимацию исчезания/появления */
    animation: arrowMove 2s infinite alternate; /* Анимация движения вверх и вниз */
}

.arrow {
    width: 40px;
    height: 5px;
    background-color: rgb(235, 236, 241);
    border-radius: 50px;
}

/* Стиль для скрытия стрелочки */
.arrow-container.hidden {
    opacity: 0;
}

/* Анимация движения стрелочки */
@keyframes arrowMove {
    0% {
        transform: translateY(0); /* Изначальное положение стрелочки */
    }
    50% {
        transform: translateY(-10px); /* Поднять стрелочку вверх */
    }
    100% {
        transform: translateY(0); /* Вернуть стрелочку обратно в исходное положение */
    }
}




 
  
  


